*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-family: times,sans-serif;
	color: white;
	background-color: black;
}

.container{
	max-width: 90rem;
	margin: 2rem auto;
	padding: 0px 2rem;
}

.header{
	padding: 2rem;
	margin: 1rem 0px;
	text-align: center;
}

header > .title{
	margin-bottom: 1rem;

}

.tribute{
	display: grid;
	/* grid-template-columns: 1fr 3fr; */
	max-width: 100%;
	margin: 8px auto;
	
	color: black;
	align-items: center;
	padding: 0px 0px 0px 1rem;
}



.tribute img{
	width: 100%;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.tribute blockquote{
	color: black;
	position: absolute;
	
	font-size: 30px;
	background-color: transparent;
	padding-top: 90px;
	border: 1px solid #ccc;
	font-style: italic;
}

.Acheivements{
	margin: 2rem auto;
	padding: 0px 0.5rem;
	max-width: 40rem;
	
}

.Acheivements > h2{
	margin-bottom: 1rem;
	font-size: 3rem;
	line-height: 1.2;
}

.Acheivements blockquote{
	
	
	color: white;
	 position: absolute;
	/* margin-top: 40px; */
	background:linear-gradient(135deg, rgb(3, 56, 3),rgb(12, 5, 5),rgb(75, 75, 75))  ;
	border: 1px solid #ccc;
	font-style: italic;
}



